<div class ="container mt-3">
  <div class="h4 pb-2 mb-4 border-bottom border-danger">
    投稿に対してのコメント一覧
  </div>
  <table border="0" cellpadding="11" cellspacing="0" width="95%">
    <thead>
      <tr>
        <th width="10%">氏名</th>
        <th>ニックネーム</th>
        <th width="20%">コメント</th>
        <th width="20%"></th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user.name %></td>
        <td><%= comment.user.nick_name %></td>
        <td><%= link_to comment.comment,admin_comment_path(comment.id) %></td>
        <td></td>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex align-items-center justify-content-center">
    <%= paginate @comments %>
  </div>
</div>