<div class ="container">
  <h5>管理者コメント一覧</h5>
    <table border="0" cellpadding="11" cellspacing="0" width="95%">
        <thead>
          <tr>
            <th width="10%">氏名</th>
            <th>ニックネーム</th>
            <th width="20%">コメント</th>
            <th width="20%"></th>
         </tr>
      </thead>
      <tbody>
        <% @comments.each do |c| %>
        <tr>
          <td><%= c.user.name %></td>
          <td><%= c.user.nick_name %></td>
          <td><%= link_to c.comment,admin_comment_path(c.id) %></td>
          <td></td>
        <% end %>
      </tbody>
      </table>
      <div class="d-flex align-items-center justify-content-center">
        <%= paginate @comments %>
      </div>
  </div>