// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pagination > li > a {          
  border: none;     
  color: #696969;   
}

.pagination > .active > a {     
  background: #93c9ff;     
  border-radius: 15px;     
}

.pagination > li > a:hover {        
  border-radius: 15px;   
}

.card-body1 {
  background: #BFD8D2;
}

.title {
  padding-left: 400px;
  
 
}


.new {
  margin:auto;      
  width: auto;
  border-bottom: solid 3px #800000;
  border-padding-top: 1px;
  padding-bottom: 4px;
}