// Place all the styles related to the public/rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.current_user {
    color: #fff;
    text-align: right;
    background-color: #CC66CC;
    width: fit-content;
    margin: 10px 0 0 auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
}

.current_user_1 {
  text-align: right;
  bottom: 0;
  
}

.time {
  text-align: right;
}

.visited_user {
    color: #fff;
    margin: 10px;
    background-color: #66CCFF;
    text-align: left;
    width: fit-content;
    margin: 10px auto 0 0;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    box-sizing: border-box;
    padding: 10px;
}

.botan {
  bottom: 0;
}