<div class ="container mt-3">
  <h5><div class="h4 pb-2 mb-4  border-bottom border-danger">
    メッセージ一覧
  </div></h5>
  <% if @another_entries.any? %>
    <% @another_entries.each do |entry| %>
      <%= link_to room_path(entry.room) do %>
      <div class ="card">
        <div class ="card-body">
          <div>
            <div class ="d-flex">
              <div class ="chat-avatar">
                <object>
                  <%= link_to user_path(entry.user) do %>
                  <% end %>
                </object>
                <div class ="chat-user-name">
                  <%= entry.user.nick_name %>
                </div>
                <div class ="chat-text">
                  <%= Message.find_by(id: entry.room.message_ids.last)&.content %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  <% else %>
    <h6>まだメッセージはありません</h6>
  <% end %>
</div>