<div class ="container">
  <div class ="row-4"></div>
  <div class ="row-8">
  <a>
    多くのアプリの中から当アプリをご覧頂きありがとうございます。<br>
    このアプリは、育児に悩む全ての人が、自由に投稿投稿し情報交換できる、<br>
    コミュニティサイトです。<br>
　  また、会員の方は、子供服やおもちゃなど使わなくなった商品を、<br>
    売ったり、買ったりすることができます。<br>
　  コミュニティの輪を広げましょう。
　</a>
　 </div>
</div>