<div class ="flash">
  <%= flash[:notice] %>
</div>
  <div class="top-bg">
    <div class ="container mt-4">
      <div class ="row">
        <div class="mx-auto text-center">
        <!--h5>子育てで繋がろう</h5>-->
          <h1><%= image_tag "logo4.png",size:"300x200" %></h1>
            <div class="font-color">
              <h3>子育てに悩む全ての人へ</h3>
              <h3>〜コミュニティで繋がる〜</h3>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
          <h5 class="text-dark bg-light py-4 mb-0">新規登録がまだの方</h5>
            <div class="form-body p-4">
              <div class="mx-auto text-center">
                <p>下の新規登録ボタンを押して<br>コミュニティに参加してください。</p>
              </div>
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark',class: "btn btn-outline-info"  %>
            </div>
        </div>
        <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5 ">
          <h5 class="text-dark bg-light py-4 mb-0" >登録がお済みの方</h5>
         　  <div class="form-body p-4">
              <div class="mx-auto text-center">
                <p>下のログインボタンを押して<br>コミュニティに参加してください。</p>
              </div>
              <div class="btn">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark',class: "btn btn-outline-info" %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

