/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// @import "bootstrap";

body {
  // ref: https://coliss.com/articles/build-websites/operation/css/css-responsive-full-background-image-by-sixrevisions.html
  background-image: image-url("bg6.jpg");
  background-color: #bfd8d2 !important;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 160%;
}

header {
  // background: image-url("hd3.jpg");
  background-size: cover;
}

footer {
  background-image: image-url("ft5.jpg");
  background-size: cover;
}


.footer-text {
  color: #df744a;
}

.link {
    text-decoration: none;
    color: #df744a ;
}

.sns {
 margin-left: auto;
 color: #df744a ;

}

.flash {
  background-color: #FF82B2;
}

// 通知が来た時だけ赤丸を
.nav-link1 {
  /* ボタンっぽいデザインを入れる */
  width: 50px;
  position: relative; /* 基準値とする */
}

.nav-link1::after {
  content: "◯";
  position: absolute;   /* 相対位置を指定 */
  top: -0px;           /* 表示位置を上から-10pxの位置にする */
  right: 0px;         /* 表示位置を右から-10pxの位置にする */
  color: #FFF;          /* 文字色を白色に指定 */
  line-height: 20px;    /* 行の高さを指定 */
  font-weight: bold;    /* 太文字にする */
  text-align: center;   /* 文字を中央揃えにする */
  width: 20px;          /* 幅を20pxに指定 */
  background: #FF0000C0;     /* 背景色を赤に指定 */
  border-radius: 50%;   /* 角丸を50%に指定 */
}