// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cover-user-index {
  height: 100%;
  width: 100%;
  background-image: url(/assets/背景.jpeg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}


.about-bg {
  background-image: image-url("5.png") ;
  height: 580px;
  width: 100%;
  background-size: cover;
  background-position: 0 0 100px 100px;

}


.text {
  padding-top: 300px;
  color: gray;
}

.font-color {
  color: #808080;
}