<div class ="container mt-3">
  <h5><div class="h4 pb-2 mb-4 border-bottom border-danger">
    通知一覧
  </div></h5>
    <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
    <% if notifications.exists? %>
      <%= render notifications %>
      <!--何日前とかの記述-->
      <%#= time_ago_in_words(@posts.created_at)+ "前" %>
    <% else %>
      <p>通知はございません</p>
    <% end %>
</div>